/*Colocamos como fondo de la cabecera una imagen.*/

header {
    background-image: url(../media/imagenfondo2.webp);
    background-repeat: no-repeat;
    /*Para que no me repita la imagen a lo largo del width*/
    background-size: cover;

}

.contenedorCabecera {
    /*Damos formato a la cabecera*/
    padding-top: 60px;
    padding-block-end: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.menu li {
    /*Eliminamos el estilo de la lista*/
    list-style: none;

}

.menu a {
    /*Eliminamos el formato de enlace.*/
    text-decoration: none;
    font-weight: bolder;
}

.menu a {
    color: white;
    /*Otorgamos al texto un color que destaque sobre el fondo.*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /*Le damos una sombra al texto para resaltarlo aún más*/
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: bolder;
    background-image: linear-gradient(0, 0, 0, 0.7);
    /*Le otorgamos un degradado a la imagen.*/
    padding: 10px;
}

.titulo h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: bolder;
    background-image: linear-gradient(0, 0, 0, 0.7);
    padding: 10px;
}

/*Ajustamos el formato del Header a una tablet*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    header {
        background-image: url(../media/imagenfondo2.webp);
        background-repeat: no-repeat;
        background-size: cover;
        /*Para que el fondo de imagen ocupe todo el ancho de la página.*/

    }
}

/*Ajustamos el formato del Header a un ordenador portatil o de sobremasa*/

@media screen and (min-width: 1025px) {
    header {
        background-image: url(../media/imagenfondo2.webp);
        background-repeat: no-repeat;
        background-size: cover;


    }

    .contenedorCabecera {
        width: 100%;
        padding: 150px;
        padding-left: 30px;/*Usamos este padding para centrar más el texto al ancho de la página.*/
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .titulo h1 {
        font-size: 70px;
        
    }

    .menu li {
        display: inline-flex;
        margin-top: 50px;
        margin-left: 110px;
        margin-right: 110px;
    }



}